# Tenant-PGMS Backend Configuration Template
PORT=3001

# DATABASE SYSTEM
DB_TYPE=supabase

# DATABASE URL (Supabase PostgreSQL)
# Example: postgresql://user:password@db.xxxx.supabase.co:5432/postgres
DATABASE_URL=your_database_url_here

# STRIPE CONFIGURATION
# STRIPE_SECRET_KEY=YOUR_SECRET_KEY

# SECURITY
JWT_SECRET=your_jwt_secret_here
